main {
  display: grid;
  grid-template-columns: 49% 49%;
  grid-template-rows: 40vh 40vh;
  gap: 2%;
  margin-top: 5vh;
  margin-bottom: 5vh;
}
main .news_card {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: orange;
  display: flex;
  flex-direction: column;
}
main .news_card .news {
  height: 85%;
  overflow: hidden;
  position: relative;
}
main .news_card .news .news_date {
  position: absolute;
  bottom: 5%;
  left: 5%;
}
main .news_card .news_name {
  height: 15%;
  display: flex;
  align-items: center;
  padding-left: 5%;
}
main .news_card img {
  width: 100%;
  transition: transform 0.7s ease-out;
}
main .news_card div {
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 10px black;
}
main .news_card div span {
  font-size: 0.8em;
}
main .news_card:hover img {
  transform: scale(1.2);
}
